<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197100130024-aa15tasf613o8r1u82sc91vjo8101ioi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197100130024-aa15tasf613o8r1u82sc91vjo8101ioi</string>
	<key>API_KEY</key>
	<string>AIzaSyBseZUhIYliAI-iIi7HoHqSl8oFkaS1C1A</string>
	<key>GCM_SENDER_ID</key>
	<string>197100130024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speakupFinal</string>
	<key>PROJECT_ID</key>
	<string>speakup-final</string>
	<key>STORAGE_BUCKET</key>
	<string>speakup-final.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197100130024:ios:62eac7e29bf78df6bc035d</string>
</dict>
</plist>